@media only screen and (max-height: 660px){
    #about{
        top: 125vh;
    }
    #web{
        top: 225vh;
    }
    #share{
        top: 360vh;
    }
}
@media only screen and (max-height: 430px){
    #about{
        top: 140vh;
    }
    #web{
        top: 275vh;
    }
    #share{
        top: 455vh;
    }
}
@media only screen and (max-height: 300px){
    #about{
        top: 178vh;
    }
    #web{
        top: 345vh;
    }
    #share{
        top: 570vh;
    }
}
